{% extends "base.html" %}
{% load staticfiles %}
	
{% block content %}
	
        <div class="card">
            <div class="header">
                <h4 class="title">Authors</h4>
					<p> David Issa Mattos - <a href="mailto:dimattos@ita.br">dimattos@ita.br</a></p>
		 	        <p> Cairo Lúcio Nascimento Jr - <a href="mailto:cairo@ita.br">cairo@ita.br</a></p>
		 			<p> Douglas Soares dos Santos - <a href="mailto:dsoares@ita.br">dsoares@ita.br</a></p>
				</div>
			</div>
		
        <div class="card">
            <div class="header">
                <h4 class="title">University</h4>
					<p> Instituto Tecnológico de Aeronáutica (<em>Aeronautics Institute of Technology</em>) <a href="http://www.ita.br"><i class="pe-7s-next-2"></i></a></p> 
				</div>
			</div>
			
	        <div class="card">
	            <div class="header">
	                <h4 class="title">Source code</h4>
						<p> <strong>Github page</strong>: </p>
			 	        <p><strong>LMI FTP</strong>: </p>
					</div>
				</div>
			
{% endblock %}