{% extends "base.html" %}
{% load staticfiles %}
	
{% block content %}
	
        <div class="card">
            <div class="header">
                <h4 class="title">Authors</h4>
					<p> David Issa Mattos</p>
		 	        <p> Cairo Lúcio Nascimento Jr.</p>
		 			<p> Douglas Soares dos Santos</p>
				</div>
			</div>
		
        <div class="card">
            <div class="header">
                <h4 class="title">University</h4>
					<p> Instituto Tecnológico de Aeronáutica</p>
		 	        <p> <em>Aeronautics Institute of Technology</em></p>
				</div>
			</div>
			
	        <div class="card">
	            <div class="header">
	                <h4 class="title">Source code</h4>
						<p> Github page</p>
			 	        <p>LMI FTP</p>
					</div>
				</div>
			
{% endblock %}