
<!DOCTYPE html>
<!-- Template by quackit.com -->

{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MOOS-IvP Interface</title>
    
	<!-- Inserting CSS -->
	<!-- Bootstrap -->
	<link href = "{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	
	</head>
	<body>
		
			
<!-- ******************** Header Section ***************** -->	
		<header id="header">
			<div class="innertube">
				<h1>MOOS-IvP Interface</h1>
			</div>
		</header>
	
	
<!-- ******************** Content Section ***************** -->			
		<div id="wrapper">		
			<main>
				<div id="content">
					<div class="innertube">
						{% block content %}{% endblock %}
					</div>
				</div>
			</main>
			
<!-- ******************** Navigation Section ***************** -->			
			<nav id="nav">
				<div class="innertube">
					<h3>Monitoring Vehicle</h3>
					<ul>
						<li><a href="#">Navigation Status</a></li>
						<li><a href="#">On-Board camera</a></li>
					</ul>
					<h3>Poke Vehicle</h3>
					<ul>
						<li><a href="#">Deploy</a></li>
						<li><a href="#">Mission Parameters</a></li>
					</ul>
				</div>
			</nav>
		
		</div>


<!-- ******************** Footer Section ***************** -->			
		<footer id="footer">
			<div class="innertube">
				<p>Developed by David Issa Mattos - ITA, Brazil</p>
			</div>
		</footer>
	
	
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>	
	
	</body>
</html>