{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
       
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Variables for the vehicle: {{ vehicle_name }}</h4>
                                <p class="category">Configure variables in mission file.</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                               	<div id="update">
									{% include 'DashboardTable.html' %}
								</div>
                                   
                            </div>
                        </div>
       
{% endblock %}