{% extends "base.html" %}

	{% block content %}
		
        <h1>MOOS-IvP Web Interface</h1>
        <p class="lead">This web interface is intended to provide scope MOOS variables, camera feed and other interesting stuff from the mission.
			<li class="lead">The <strong> Variables</strong> tab shows a table providing information such as positon, heading, battery level etc.</li>
		
			<li class="lead">The <strong>Camera</strong> tab shows a feed of the camera from the boat. It uses multipart jpeg stream (from motion program).</li>
		
			<li class="lead">The <strong>Info</strong> tab displays information about the project, such as authors and website links. </li>
		</p>
		
	{% endblock content %}