{% extends "base.html" %}
{% load staticfiles %}
	
{% block content %}
	
        <h1>Information</h1>
		
		<h3>Authors</h3>
			<h5>Main author</h5>
	        <p class="lead"> David Issa Mattos</p>
			
			<h5>Advisors</h5>
	        <p class="lead"> Cairo Lúcio Nascimento Jr.</p>
			<p class="lead"> Douglas Soares dos Santos</p>
		<h3>University</h3>
			<h3>Instituto Tecnológico de Aeronáutica</h3>
				<p class="lead"> <em>Aeronautics Institute of Technology</em></p> 
			<h5>Address</h5>
				<p class="lead">Praça Marechal ..... numero ....</p>
				
		<h3>Source code</h3>
			<p class="lead">Github page</p><br>
			<p class="lead">LMI FTP</p>
			
{% endblock %}